body {background:#e9e7cf;}
.required {color:red;}
label {font: normal 12px/1.1em 'Museo500'; color: #545c54; display:block;}
h2 {font: normal 36px/36px 'Museo500'; color: #545c54; margin: 5px auto;}
p {font-family:'Museo500', sans-serif;}
input, textarea {width: 95%; margin-bottom:5px;}