#descriptions {height:40px; width:620px; padding:5px; margin-left:155px; background-color:#fff; overflow:hidden;}
#descriptions .ad-image-description {font: normal 14px/12px 'Museo500'; color: #545c54;}
#descriptions .ad-image-description span {font: normal 14px/12px 'MuseoSans500'; color: black; padding-left:5px;}
.main-body {background-color:#B8917C;}
h2.bottom-call {margin-top:5px;}
.ad-controls {font: normal 12px/12px 'MuseoSans500'; color: black;}